.projects-background{
    min-height: 70rem;
    max-width: 100%;
    background-color: #D9EDF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    
    @media only screen and (max-width: 900px) {
        min-height: 95rem;
        justify-content: flex-start;
        padding-bottom: 20px;
      }
}

.light-blue-background{
    background-color: #D9EDF0;
}
.title-box{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 3rem;
    width: 30rem;
    margin: 2rem auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
}

.projects-top{
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
}

.projects-bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
}


