////////////////////////////
//RESUME
.resume-background {
    min-height: 72rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.logo2 {
    height: 140%;
    padding-left: 3rem;
    padding-top: 3rem;

    @media only screen and (max-width: 600px) {
        padding-left: 1rem;
        padding-top: 1rem;
        height: 11rem;
    }
}

.resume-button {
    position: absolute;
    right: 12px;
    margin-top: 12px;

    @media only screen and (max-width: 600px) {
        right: 0;
        margin-top: 12px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }

}

.resume-header {
    display: flex;
    justify-content: center;

    align-content: space-between;
    width: 100%;
}

.professional {
    height: auto;
    min-height: 55rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.resume-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 400;
}

.title-lower {
    font-size: 1.7rem;
    color: #31484B;
}

/////////////////////////////
//SKILL BOX
.skill-box {
    height: 20rem;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 575px) {
        width: 95%;
    }
}

.skill-inner-box {
    width: 100%;
    flex: 0 0 30%;
    display: flex;
}

.skill-lang {
    flex: 0 0 15%;
    margin: auto;
    font-size: 1.5rem;
    text-align: right;
    padding-right: 10px;

    @media only screen and (max-width: 650px) {
        font-size: 1rem;
    }
}



.skill {
    flex: 0 0 85%;
    height: 50%;
    margin: auto;
}

.percent-text {
    letter-spacing: .7px;
    font-size: 1.4rem;
    padding-right: 5px;
    height: 100%;
    top: 2px;

}

.python-percent {
    height: 100%;
    width: 95%;
    background-color: #D9EDF0;
    text-align: right;
    border-radius: 10px;
    padding-top: .4rem;


    transition: width 1s;
    will-change: opacity;
    opacity: 1;
}


.hidden {
    height: 100%;
    width: 0%;
    background-color: #D9EDF0;
    text-align: right;
    transition: opacity 500ms ease-out;
    will-change: opacity;
    opacity: 1;
}


.javascript-percent {
    height: 100%;
    width: 90%;
    background-color: #D9EDF0;
    padding-top: .4rem;
    text-align: right;
    border-radius: 10px;

    transition: width 1s;
    will-change: opacity;
    opacity: 1;
}

.csharp-percent {
    height: 100%;
    width: 85%;
    background-color: #D9EDF0;
    padding-top: .4rem;
    text-align: right;
    border-radius: 10px;

    transition: width 1s;
    will-change: opacity;
    opacity: 1;
}

//////////////////////////////////
//SKILLS EXTRA

.skills-extra {
    height: auto;
    min-height: 20rem;
    font-size: 1.3rem;
    width: 95%;
    left: 2.5%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

////////////////////////////////////
//EXPERIENCE

.experience {
    height: fit-content;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.experience-section::before {
    background: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    opacity: .1;
}

.experience-section {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-opaque {
    opacity: 100%;
}

.experience-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    opacity: 1;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 1rem;

    @media only screen and (max-width: 900px) {
        width: 80%;
    }

    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}

.experiencenofade {
    // opacity: 0%;
    margin: 1rem;
    background-color: white;
    z-index: 2;
    border-radius: 15px;
    transition: .5s ease-in-out;

    @media only screen and (max-width: 500px) {
        width: 100%;
    }
}

.experiencenofade:hover,
.experiencefade:hover {
    transform: scale(1.08);
}

.experiencefade {
    //  opacity: 1;
    //  transition: opacity 2s;
    margin: 1rem;
    transition: .5s ease-in-out;
    background-color: white;
    z-index: 2;
    border-radius: 15px;

    @media only screen and (max-width: 500px) {
        width: 100%;
    }
}

////////////////////////////
//EDUCATION
.education {
    height: fit-content;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
}

.education-grid {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1rem;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }
}

.education-box:hover {
    transform: scale(1.08);
}

.study:hover {
    transform: scale(1.08);
}

.education-left {
    align-items: self-end;
}

.education-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (max-width: 1000px) {
        align-items: center;
    }
}


.study {
    border-radius: 15px;
    padding: 1rem;
    background-color: #D9EDF0;
    width: 70%;
    margin: 1rem;
    transition: .5s ease-in-out;

    @media only screen and (max-width: 900px) {
        width: 80%;
    }

    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}

.education-subtitle {
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 2rem;
}

.class-list {
    padding-left: 3rem;
    font-size: 1.4rem;
    color: #31484B;
    padding-top: 1.5rem
}

.education-info {
    font-size: 1.4rem;
    color: #31484B;
    padding-left: 1.4rem;
    padding-top: .8rem;
}

.education-title {
    width: 80%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.education-box {
    padding: 1rem;
    border-radius: 15px;
    background-color: #D9EDF0;
    height: auto;
    width: 70%;
    margin: 1rem;
    transition: .5s ease-in-out;

    @media only screen and (max-width: 900px) {
        width: 80%;
    }

    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}


//////////////////////
//PROJECTS
.projects {
    padding-top: 1rem;
    height: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projects-title {
    border-top: 1px solid #333;
    width: 80%;
}

.projects-button {
    margin: auto;
}