.resume-experience{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}


.description-resume{
    font-size: 1.1rem;
}


.title-resume{
  font-size: 1.6rem;
}

.date-resume{
    color: #31484B;
}

.place-resume{
    color: #31484B;
}